@model TestLes.ProxyClasses.Contact

@{
    ViewBag.Title = "Создать";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Создать @Model.Name</h1>
<div>
    @using (Html.BeginForm("Create", "Home", FormMethod.Post))
    {
        @Html.ValidationSummary()
        <div>
            <label>Имя</label><br />
            @Html.EditorFor(m => m.Name, new { htmlAttributes = new { @class = "form-control" } })
        </div>
        <div>
            <label>Мобильный телефон</label><br />
            @Html.EditorFor(m => m.MobilePhone, new { htmlAttributes = new { @class = "form-control" } })
        </div>
        <div>
            <label>Должность</label><br />
            @Html.EditorFor(m => m.JobTitle, new { htmlAttributes = new { @class = "form-control" } })
        </div>
        <div>
            <label>Дата рождения</label><br />
            @Html.TextBoxFor(model => model.BirthDate, new { @type = "date", @class = "form-control", @Value = Model.BirthDate?.ToString("yyyy-MM-dd") })
        </div>
        <div>
            @{ Model.Id = Guid.NewGuid(); }
            @Html.HiddenFor(m => m.Id, "Value")
            <input type="submit" value="Create" />
        </div>
        @Html.ActionLink("Отменить и вернуться к списку Контактов", "Index")
    }
</div>